body{
    background-image:linear-gradient(to right, lightblue, lightgreen);
    margin:0;
    padding:0;
}
#container{
            border:2px solid white;
            width:35%;
            height:600px;
            margin:0 auto;
            background-color:black;
            border-radius:10px;
            font-size:20px;
            font-weight:bold;
            box-shadow:0px 0px 10px 5px lightblue;


            


}
#numberButtons{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:left;
    justify-content:left;
  
}
#operatorButtons{
    display:flex;
    flex-direction:row-reverse;
    align-items:right;
    justify-content:right;
    flex-wrap:wrap;

}
#buttons{
            height:300px;
            width:100%;
            flex-wrap: wrap;
            flex-direction:row;
            display:flex;
            align-items: center;
            justify-content: center;

}
.functionBtn,.operatorBtn,.numberBtn{
            border:2px solid white;
            width:100px;
            height:100px;
           
            text-align:center;
            padding-top:20px;
            font-size:20px;
            
            
           

}
.btn{
        background-color:black;
        color:white;
        color:red;
        padding:10px;
        
}
.btn:hover{
            background-color:blue;
            color:white;


}
#display{
            width:98%;
            height:200px;
            background-color:black;
            border:2px solid red;
            border-radius:10px;
            color:white;
            padding-left:2px;
            padding-right:5px;

}
#operations{
            width:98%;
            border-bottom:1px solid white;
            height:50px;
            color:white;
            padding-left:10px;
            padding-right:15px;
            text-align:right;

          
           
}
#operationSpan{
            text-align:right;
            padding-right:15px;

}
#result{
    text-align:right;
    padding-right:15px;
}
